name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-x64:
    name: Build x64
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build and test
        run: mvn clean verify

      - name: Create runtime image
        run: mvn javafx:jlink

      - name: Copy RetroLauncher script for Windows
        if: matrix.os == 'windows-latest'
        run: |
          copy scripts\RetroLauncher.bat target\RetroLauncher\RetroLauncher.bat

      - name: Copy RetroLauncher script for Unix/macOS
        if: matrix.os != 'windows-latest'
        run: |
          cp scripts/RetroLauncher.sh target/RetroLauncher/RetroLauncher.sh
          chmod +x target/RetroLauncher/RetroLauncher.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: RetroLauncher-${{ matrix.os }}-x64
          path: target/RetroLauncher



  create_release:
    name: Create GitHub Release
    needs: build-x64
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Providing access to all tags

      - name: Download artifacts - Ubuntu
        uses: actions/download-artifact@v4
        with:
          name: RetroLauncher-ubuntu-latest-x64
          path: artifacts/ubuntu

      - name: Download artifacts - Windows
        uses: actions/download-artifact@v4
        with:
          name: RetroLauncher-windows-latest-x64
          path: artifacts/windows

      - name: Download artifacts - macOS
        uses: actions/download-artifact@v4
        with:
          name: RetroLauncher-macos-latest-x64
          path: artifacts/macos

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Determine release version
        id: vars
        run: |
          # Trying to get the latest tag
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1` 2>/dev/null || echo "")
          if [ -z "$latest_tag" ]; then
            echo "version=0.1.0" >> $GITHUB_OUTPUT
          else
            # Deleting 'v' prefix if it is exist
            latest_tag=${latest_tag#v}
            IFS='.' read -r -a parts <<< "$latest_tag"
            major=${parts[0]}
            minor=${parts[1]}
            patch=${parts[2]}
            patch=$((patch + 1))
            echo "version=${major}.${minor}.${patch}" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.vars.outputs.version }}
          release_name: Release v${{ steps.vars.outputs.version }}
          draft: false
          prerelease: false

      - name: Compress Ubuntu Artifact
        run: |
          cd artifacts/ubuntu
          zip -r RetroLauncher-ubuntu-latest-x64.zip .
        shell: bash

      - name: Compress Windows Artifact
        run: |
          cd artifacts/windows
          zip -r RetroLauncher-windows-latest-x64.zip .
        shell: bash

      - name: Compress macOS Artifact
        run: |
          cd artifacts/macos
          zip -r RetroLauncher-macos-latest-x64.zip .
        shell: bash

      - name: Upload Release Assets - Ubuntu
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./artifacts/RetroLauncher-ubuntu-latest-x64.zip
          asset_name: RetroLauncher-ubuntu-latest-x64.zip
          asset_content_type: application/zip

      - name: Upload Release Assets - Windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./artifacts/RetroLauncher-windows-latest-x64.zip
          asset_name: RetroLauncher-windows-latest-x64.zip
          asset_content_type: application/zip

      - name: Upload Release Assets - macOS
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./artifacts/RetroLauncher-macos-latest-x64.zip
          asset_name: RetroLauncher-macos-latest-x64.zip
          asset_content_type: application/zip